script.
  function doneDelete(year, month, day, work_id) {
    document.mattrix.year.value=year;
    document.mattrix.month.value=month;
    document.mattrix.day.value=day;
    document.mattrix.work_id.value=work_id;
    document.mattrix.submit();
  };

  function donePost(year, month, day, work_id) {
    document.donePost.year.value=year;
    document.donePost.month.value=month;
    document.donePost.day.value=day;
    document.donePost.work_id.value=work_id;
    document.donePost.submit();
  };

form(name="mattrix" method="post" action="./done")
  input(name="_method" type="hidden" value="delete")
  input(name="year" type="hidden" value="")
  input(name="month" type="hidden" value="")
  input(name="day" type="hidden" value="")
  input(name="work_id" type="hidden" value="")

form(name="donePost" method="post" action="./done")
  input(name="year" type="hidden" value="")
  input(name="month" type="hidden" value="")
  input(name="day" type="hidden" value="")
  input(name="work_id" type="hidden" value="")

table(border="1" width="300")
  tbody
    - var i=0;
    each row, work_id in mattrix
      if !row
        - continue;
      if i%5 == 0
        tr
          each day, dayIndex in days
            if dayIndex % 10 == 0
              td
            td!= day
      tr
        each column, dayIndex in row
          if dayIndex % 10 == 0
            td(align="center")
              =work_list[work_list.findIndex(function(work){return work.work_id==work_id;})].work
          td(align="center")
            if "〇" === column
              a(href="JavaScript:doneDelete("+year+", "+month+", "+(dayIndex+1)+", "+work_id+")")
                =column
            else
              a(href="JavaScript:donePost("+year+", "+month+", "+(dayIndex+1)+", "+work_id+")")
                =column
      - i++;
